.modal-header {
    padding: 11.5px 30px;
    border-bottom-color: #e4e5e7;

    .modal-title {
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.fixed-modal-dialog {
    margin-top: 50px;
    width: 95%;
}