
//Colores color-line

$gray1: #AAAAAA;
$gray2: #959595;
$gray3: #535353;

$backgroundColor: #f7f9fa;

//Colores header
$borderColor: #e4e5e7;

//Oficial Ternium
$danger: #e74c3c;
$success: #62cb31;
$warning: #ffa500;
$warning2: #ff9900;
$info: #3498db;
$primary: #34495e;
$primary2: #9b59b6;
$gray: #8c8c8c;
$grayLight: #d4d4d4;

